<header class="br-header mb-4" id="header" data-sticky="data-sticky">
	<div class="container-lg">
		<div class="header-top">
			<div class="header-logo">
				<img class="img-fluid" ngSrc="/logos/ufu_blue.svg" alt="Logo UFU" height="335" width="647" priority />
				<span class="br-divider vertical"></span>
				<div class="header-sign">UFU - Universidade Federal de Uberlândia</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="header-menu">
				@if (!hideNavbar()) {
					<div class="header-menu-trigger" id="header-navigation">
						<button
							class="br-button small circle"
							type="button"
							aria-label="Menu"
							data-toggle="menu"
							data-target="#main-navigation"
							id="navigation"
						>
							<i class="fas fa-bars" aria-hidden="true"></i>
						</button>
					</div>
				}
				<div class="header-info">
					<div class="header-title">
						<a [routerLink]="['/']"> Museu Virtual Facom</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<ng-template #menu>
	<div cdkMenu class="br-list" id="avatar-menu" role="menu">
		<a cdkMenuItem class="br-item" [routerLink]="['/perfil']" role="menuitem">Perfil</a>
		<a cdkMenuItem class="br-item" (click)="logout()" role="menuitem">Sair da conta</a>
	</div>
</ng-template>
