:host.overlay-loader {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--surface-overlay-scrim);
	z-index: 99999 !important;
}

.card-content {
	width: 200px;
	height: 180px;
	gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	span {
		font-size: var(--font-size-scale-base);
		font-weight: var(--font-weight-medium);
	}
}
