<div class="news-container">
  <div class="news-header">
    <h1>Notícias</h1>
    <button mat-raised-button color="primary" class="criar-noticia-btn btn-create-news" (click)="createNews()">
      <mat-icon>add</mat-icon>
      Criar Notícia
    </button>
  </div>

  <div class="news-list" *ngIf="newsList$ | async as newsItems">
    <mat-card *ngFor="let news of newsItems" class="news-card">
      <a class="news-title" [routerLink]="['/news/detail', news.id]">{{ news.summary.title }}</a>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteNews(news)">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
