<div *ngIf="news$ | async as newsItem; else notFound" class="news-detail-container">
  <div class="news-category-main">{{ newsItem.summary.category }}</div>
  <h1 class="news-title-main">{{ newsItem.summary.title }}</h1>
  <div class="news-main-image-wrapper">
    <img [src]="newsItem.summary.mainImage" [alt]="newsItem.summary.title" class="news-main-image" (click)="openImage(newsItem.summary.mainImage)" style="cursor: zoom-in;" />
  </div>
  <div class="news-description">{{ newsItem.summary.description }}</div>
  <hr class="news-separator" />
  <div class="news-full-content" *ngIf="newsItem.fullContent && newsItem.fullContent.length">
    <div *ngFor="let item of newsItem.fullContent">
    </div>
  </div>
</div>
<ng-template #notFound>
  <p>Notícia não encontrada ou carregando...</p>
</ng-template>
