<div id="barra-brasil">
  <div class="conteudo-barra-brasil">
    <a href="https://gov.br/" class="pic-gov" title="GovBR">GovBR</a>
    <nav id="menu-barra-brasil">
      <ul class="lista-barra-brasil">
        <li class="espacador"></li>
        <li class="list-item">
          <a href="http://www.gov.br/secom/pt-br/acesso-a-informacao/comunicabr" class="link-barra link-externo-barra">Comunica BR</a>
        </li>
        <li class="espacador"></li>
        <li class="list-item">
          <a href="http://www.gov.br/acessoainformacao/" class="link-barra link-externo-barra">Acesso à informação</a>
        </li>
        <li class="espacador"></li>
        <li class="list-item">
          <a href="https://www.gov.br/pt-br/participacao-social/" class="link-barra link-externo-barra">Participe</a>
        </li>
        <li class="espacador"></li>
        <li class="list-item">
          <a href="http://www4.planalto.gov.br/legislacao/" class="link-barra link-externo-barra">Legislação</a>
        </li>
        <li class="espacador"></li>
        <li class="list-item">
          <a href="http://www.gov.br/pt-br/orgaos-do-governo" class="link-barra link-externo-barra">Órgãos do Governo</a>
        </li>
      </ul>
    </nav>
  </div>
</div>