<app-loading></app-loading>
<div class="template-base">
  <app-header [hideNavbar]="hideNavbar()"></app-header>
  <app-alert></app-alert>
  <main class="d-flex flex-fill" id="main">
    <div class="container-lg">
      <div class="row h-100">
        @if (!hideNavbar()) {
          <app-menu
            [ngClass]="{ 'col-lg-2 col-md-3 col-sm-5 active': !isMobile() && !isPublic() }"
            id="main-navigation"
            data-breakpoints="col-lg-2 col-md-3 col-sm-5"
          ></app-menu>
        }
        <div class="col pb-4 pb-lg-5 pt-2 pt-lg-4">
          <app-breadcrumb></app-breadcrumb>
          <div [class.pl-sm-3]="!hideNavbar()" class="main-content" id="main-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>

