<footer class="br-footer" id="footer">
	<div class="container-lg">
		<div class="logo">
			<img ngSrc="/logos/ufu_blue.svg" alt="Logo UFU" height="230" width="200" priority />
		</div>
		<div class="row align-items-end justify-content-between d-none d-sm-flex py-5">
			<div class="col">
				<div class="text-white">
					Universidade Federal de Uberlândia<br />
					Ministério da Educação
				</div>
			</div>
			<div class="col assigns text-right">
				<div class="d-flex align-items-center justify-content-end">
					<a class="logo-acesso-footer" href="https://www.gov.br/acessoainformacao/" alt="Acesso à informação" title="Acesso à informação"></a>
					<a class="logo-governo-federal" href="https://www.brasil.gov.br/" alt="Governo Federal" title="Governo Federal"></a>
				</div>
			</div>
		</div>
	</div>
</footer>
