<footer class="br-footer" id="footer">
	<div class="container-lg">
		<div class="footer-content">
			<div class="logo-container">
				<div class="logo">
					<img ngSrc="/public/logos/ufu_blue.svg" alt="Logo UFU" height="30" width="140"/>
				</div>
				<div class="text-white">
					Universidade Federal de Uberlândia<br />
					Ministério da Educação
				</div>
			</div>

			<div class="assigns">
				<a class="logo-acesso-footer" href="https://www.gov.br/acessoainformacao/" title="Acesso à informação"></a>
			</div>
		</div>
	</div>
</footer>
