.br-footer {
	background-color: #155bc9;
	padding-top: 24px;
	padding-bottom: 24px;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;

	.footer-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.logo-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0;

			.logo {
				padding-bottom: 24px;
				filter: invert(1) brightness(2);

				img {
					max-height: 80px;
					max-width: max-content;
				}
			}

			.text-white {
				color: #ffffff;
				font-size: 1rem;
				line-height: 1.5;
				margin-top: -10px;
			}
		}

		.assigns {
			.logo-acesso-footer {
				width: 102px;
				height: 40px;
				display: block;
				color: white;
				background-image: url('https://ufu.br/themes/custom/ufu/acesso-informacao.svg');
				background-repeat: no-repeat;
				background-size: contain;
				filter: brightness(0) invert(1);
			}
		}
	}
}