<div class="clearfix text-formatted field field--name-field-texto field--type-text-long field--label-hidden field__item">
  <p>O termo acessibilidade significa incluir a pessoa com deficiência na participação de atividades como o uso de produtos, serviços e informações. Alguns exemplos são os prédios com rampas de acesso para cadeira de rodas e banheiros adaptados para deficientes.</p>

  <p>Na internet, acessibilidade refere-se principalmente às recomendações do WCAG (World Content Accessibility Guide) do W3C e no caso do Governo Brasileiro ao e-MAG (Modelo de Acessibilidade em Governo Eletrônico). O e-MAG está alinhado as recomendações internacionais, mas estabelece padrões de comportamento acessível para sites governamentais.</p>

  <p>Fique a par das iniciativas de acessibilidade do portal.</p>

  <p><strong>Atalhos de navegação:</strong></p>
  <ul>
    <li>Usando a combinação de teclas Alt + 1 em qualquer página do portal, chega-se diretamente ao menu principal da página;</li>
    <li>Usando a combinação de teclas Alt + 2 em qualquer página do portal, chega-se diretamente à busca da página;</li>
    <li>Usando a combinação de teclas Alt + 3 em qualquer página do portal, chega-se diretamente ao conteúdo da página;</li>
    <li>Usando a combinação de teclas Alt + 4 em qualquer página do portal, chega-se diretamente ao rodapé da página.</li>
  </ul>

  <p><strong>Inversão de contraste ou tema escuro:</strong></p>
  <ul>
    <li>Clicando sobre o botão de contraste o site altera as cores dos textos e fundo do site.</li>
  </ul>

  <p><strong>Alteração de zoom da tela:</strong></p>
  <ul>
    <li>Clicando sobre o <strong>A-</strong> reduz-se o zoom do site e assim sucessivamente;</li>
    <li>Clicando sobre o <strong>A</strong> retorna o zoom padrão do site;</li>
    <li>Clicando sobre o <strong>A+</strong> aumenta-se o zoom do site em 10% e assim sucessivamente.</li>
  </ul>

  <p><strong>Leis e decretos sobre acessibilidade:</strong></p>
  <ul>
    <li>Decreto nº 5.296 de 02 de dezembro de 2004 (<a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm">http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm</a>).</li>
    <li>Decreto nº 6.949, de 25 de agosto de 2009 - Promulga a Convenção Internacional sobre os Direitos das Pessoas com Deficiência e seu Protocolo Facultativo, assinados em Nova York, em 30 de março de 2007 (<a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm">http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm</a>).</li>
    <li>Decreto nº 7.724, de 16 de Maio de 2012 - Regulamenta a Lei No 12.527, que dispõe sobre o acesso a informações (<a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm">http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm</a>).</li>
    <li>Modelo de Acessibilidade de Governo Eletrônico (<a href="http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG">http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG</a>).</li>
    <li>Portaria nº 03, de 07 de Maio de 2007 - formato .pdf (35,5Kb) - Institucionaliza o Modelo de Acessibilidade em Governo Eletrônico – e-MAG (<a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007">http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007</a>).</li>
  </ul>
</div>