#btn-edit-profile {
	width: 100%;
	height: 0;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		display: none;
	}
}

#btn-edit-profile-mobile {
	display: flex;
	justify-content: center;
	width: 100%;

	@media (min-width: 768px) {
		display: none;
	}
}
