<!-- Menu Lateral -->
<div class="menu-overlay" [class.visible]="isOpen" (click)="closeMenu()"></div>

<nav class="sidebar-menu" [class.open]="isOpen">
  <div class="header-container">
    <div class="header-content">
      <div class="logo-container">
        <img src="/public/logos/ufu_blue.svg" alt="Logo UFU">
      </div>
      <div class="header-text">
        <div class="university-name"> <a href="/"> Universidade Federal de <br> Uberlândia</a></div>
        <div class="ministry-name">Ministério da Educação</div>
      </div>
    </div>
    <button class="menu-close-button" (click)="closeMenu()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="menu-body">
    <nav class="menu-nav">
      <ng-container *ngFor="let item of list">
        <a *ngIf="!item.children?.length"
           [routerLink]="item.url"
           [routerLinkActive]="'active'"
           class="menu-item"
           [target]="item.external ? '_blank' : '_self'"
           (click)="closeMenu()">
          <span class="menu-icon"><i [class]="item.icon"></i></span>
          <span class="menu-item-label">{{ item.label }}</span>
        </a>

        <!-- Menu Item com submenu -->
        <div *ngIf="item.children?.length" class="menu-folder">
          <div class="menu-item" (click)="toggleSubmenu(item)">
            <span class="menu-icon"><i [class]="item.icon"></i></span>
            <span class="menu-item-label">{{ item.label }}</span>
            <span class="menu-arrow"><i class="fas" [class.fa-angle-down]="!item.expanded" [class.fa-angle-up]="item.expanded"></i></span>
          </div>

          <!-- Submenu -->
          <div class="menu-subitems" [class.is-active]="item.expanded">
            <ng-container *ngFor="let subItem of item.children">
              <a [routerLink]="subItem.url"
                 [routerLinkActive]="'active'"
                 class="menu-item"
                 [target]="subItem.external ? '_blank' : '_self'"
                 (click)="closeMenu()">
                <i [class]="subItem.icon"></i>
                <span class="menu-item-label">{{ subItem.label }}</span>
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </nav>
  </div>

  <div class="menu-bottom-section">
    <p class="social-title">Redes Sociais</p>
    <div class="social-links">
      <a target="_blank" href="https://www.youtube.com/@CanaldaUFU" aria-label="Youtube" title="Youtube">
        <i class="fab fa-youtube"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/ComunicacaoUfu" aria-label="Facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/ufu_oficial/" aria-label="Instagram" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a target="_blank" href="https://x.com/UFU_Oficial" aria-label="Twitter" title="Twitter">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/school/ufuoficial/posts/?feedView=all" aria-label="Linkedin" title="Linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" href="https://www.tiktok.com/@ufuoficial" aria-label="TikTok" title="TikTok">
        <i class="fab fa-tiktok"></i>
      </a>
      <a target="_blank" href="https://t.me/comunicacienciaufu" aria-label="Telegram" title="Telegram">
        <i class="fab fa-telegram"></i>
      </a>
    </div>
  </div>
</nav>
